{% extends 'base.html' %}
{% load static %}

{% block head %} 
    <title>Login | Accounts</title>
{% endblock head %}

{% block content %}
<body>
    <div id="main-container">
        <div class="login-box">
            <h1>Login to Your Account</h1>
            <form action="#" id="form">
                <div class="lb-in">
                    <img src="{% static 'assets/mail.svg' %}" alt="">
                    <input type="email" name="email" placeholder="Email">
                </div>
                <div class="lb-in"> <img src="{% static 'assets/lock.svg' %}" alt="">
                    <input type="password" name="password" placeholder="Password">
                </div>
                <a href="#" id="forgotten-pass">Forgotten password?</a>
                <input type="submit" value="Log in" class="btn-link" id="submit">
                <div class="long-row">
                    <P>Or Login with</P>
                </div>
                <div class="alt-logins">
                    <a href="#"><img src="{% static 'assets/google.svg' %}" alt="google-icon"></a>
                    <a href="#"><img src="{% static 'assets/github.svg' %}" alt="github-icon"></a>
                </div>
            </form>
            <p class="register-link">Not registered yet?<a href="{% url 'accounts:register' %}">Sign up</a></p>
        </div>
    </div>
{% endblock content %}
