{% extends 'base.html' %}
{% load static %}

{% block head %} 
    <title>Register | Accounts</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock head %}

{% block content %}
<div id="main-container">
    <div class="login-box">
        <h1>Create your NAMESITE Account</h1>
        <form action="{% url 'accounts:register_create' %}" method="POST" id="form">
            {% csrf_token %}
                {% for field in form %} 
                <div class="lb-in-r">

                    {% if field.name == 'username' %} 
                    <img src="{% static 'assets/user.svg' %}" alt="">  

                    {% elif field.name == 'email' %} 
                    <img src="{% static 'assets/mail.svg' %}" alt="">

                    {% elif field.name == 'password' %} 
                    <img src="{% static 'assets/lock.svg' %}" alt="">

                    {% elif field.name == 'password2' %} 
                    <img src="{% static 'assets/lock.svg' %}" alt="">
                    
                    {% endif %}
                        {{ field }}
                        <p>{{ field.errors }}</p>
                        
                </div> 
                    {% endfor %}
            <input type="submit" value="Create an account" class="btn-link" id="submit">
        </form>
        <p class="login-link">Already have an ccount? <a href="{% url 'accounts:login' %}">Sign in</a></p>
    </div>
</div>
{% endblock content %}